!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.classpath
.DS_Store
.gradle
.kobalt
.nb-gradle
.project
.settings
.vscode/*
*.code-workspace
*.iws
*.sublime-*
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/dataSources/
**/.idea/**/dbnavigator.xml
**/.idea/**/dictionaries
**/.idea/**/dynamic.xml
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/.idea/**/shelf
**/.idea/**/sqlDataSources.xml
**/.idea/**/tasks.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/workspace.xml
**/*.class
/bin
/build
/deploy
/dist
/gen
/gradle.properties
/local.properties
/out
/proguard-project.txt
/project.properties
/target
/test-output
ehthumbs.db
kobaltBuild
Thumbs.db