defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/openjdk:8-jdk
  environment:
    JVM_OPTS: -Xmx3200m
    TERM: dumb
    CI: true

version: 2.0

jobs:
  build_gradle:
    <<: *defaults

    steps:
      - checkout
      - restore_cache:
          keys:
          - gradle-dependencies-{{ checksum "build.gradle.kts" }}
          # fallback to using the latest cache if no exact match is found
          - gradle-dependencies-

      - run:
          name: Gradle Dependencies
          command: ./gradlew dependencies

      - save_cache:
          paths: ~/.gradle
          key: gradle-dependencies-{{ checksum "build.gradle.kts" }}

      - run:
          name: Run All Checks
          command: ./gradlew check --scan

      - store_artifacts:
          path: build/reports/
          destination: reports
      - store_test_results:
          path: build/reports/

workflows:
  version: 2
  build_gradle:
    jobs:
      - build_gradle
